{% load blog_tags thumbnail %}
{% load i18n %}
{% comment %} {% load cache %} {% endcomment %}
<article id="post-{{ cnfreport.pk }} "
         class="post-{{ cnfreport.pk }} post type-post status-publish format-standard hentry">
    <header class="entry-header">

        <h1 class="mt-4">
            {% if  isindex %}
                {% if cnfreport.report_order > 0 %}
                    <a href="{{ cnfreport.get_absolute_url }}"
                       rel="bookmark">{% trans "[头条]" %}{{ cnfreport.title }}</a>
                {% else %}
                    <a href="{{ article.get_absolute_url }}"
                       rel="bookmark">{{ cnfreport.title }}</a>
                {% endif %}

            {% else %}
                {{ cnfreport.title }}
            {% endif %}
        </h1>
        <div class="comments-link">
            {% if cnfreport.comment_status == "o" and open_site_comment %}
                <a href="{{ cnfreport.get_absolute_url }}#comments" class="ds-thread-count" data-thread-key="3815"
                   rel="nofollow">
                    <span class="leave-reply">
                    {% if cnfreport.comment and cnfreport.comment_set.count %}
                        {{ cnfreport.comment_set.count }}个评论
                    {% else %}
                        发表评论
                    {% endif %}
                    </span>
                </a>
            {% endif %}
            <div style="float:right">
                {{ cnfreport.views }} views
            </div>
        </div><!-- .comments-link -->
        <br/>
    </header><!-- .entry-header -->

    <div class="entry-content" itemprop="reportBody">
        <!-- Bar Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                <canvas id="myBarChart"></canvas>
                </div>
                <hr>
                Styling for the bar chart can be found in the <code>/js/demo/chart-bar-demo.js</code> file.
            </div>
        </div>

         <!-- Featured Image -->
        {% comment %} {% thumbnail cnfreport.featured_image "900x300" as im %}
          <img src="{{ im.url }}" alt="{% trans 'Featured Image' %}" class="card-img-top"> {% endcomment %}
        {% comment %} {% empty %}
          <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="Card Image"> {% endcomment %}

        {% if  isindex %}
            {{ cnfreport.body|custom_markdown|escape|truncatechars_content }}
            <p class='read-more'><a
                    href=' {{ cnfreport.get_absolute_url }}'>Read more</a></p>
        {% else %}
            {{ cnfreport.body|custom_markdown }}
        {% endif %}

    </div><!-- .entry-content -->

    {% load_report_metas cnfreport user %}

</article><!-- #post -->